<nav class="columns sixteen">
  <ul id="main-nav-bar" class="inline" data-hook>
    <% get_taxonomies.each do |taxonomy| %>
      <li id="spree-<%= taxonomy.name%>-link" data-hook><%= link_to taxonomy.name %></li>
    <% end %> 
    <li id="link-to-cart" data-hook><%= link_to_cart %></li>
  </ul>
</nav>
